# Ignore compiled executables
*.exe

# Ignore object files
*.o
*.obj
*.bat
*.pfd

# Ignore build directories
build
bin
Debug
Release

# Ignore VS Code settings
.vscode

# Ignore temporary files
.log
.tmp
~

# Ignore core dumps
core